{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}?v=2">
<div class="container">
    <form action="{% url 'index' %}" method="get" style="margin-bottom: 20px;">
        <button type="submit" class="btn-submit">Voltar</button>
    </form>

    <h2>Painel de Controle de Clientes</h2>
    <p>Escolha a ação desejada:</p>

    <div class="button-group">
        <a href="{% url 'cadastrar_cliente' %}" class="btn btn-primary">Cadastrar Novo Cliente</a>
        <a href="{% url 'pesquisar_cliente' %}" class="btn btn-primary">Pesquisar / Gerenciar Clientes</a>
    </div>
</div>
{% endblock content %}