{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/divida/atualizar_divida.css' %}?v=1">
  
  <div class="container">
    
    <form action="{% url 'pesquisar_divida' %}" method="get" style="margin-bottom: 20px;">
        <button type="submit" class="btn-submit">Voltar</button>
    </form>

    <h1>Atualizar Dívida</h1>

    {% if divida %}
      <hr style="margin: 25px 0;">
      <form method="post" action="{% url 'atualizar_divida' divida.cod_divida %}">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit">Salvar Alterações</button>
      </form>
    {% endif%}
    
    {% if mensagem %}
      <p class="success" style="color: green;">{{ mensagem }}</p>
    {% elif erro %}
      <p class="error" style="color: red; padding-top: 15px;">{{ erro }}</p>
      {% if form.errors %}
          <div style="color: red; font-size: 14px;">
              {{ form.errors }}
          </div>
      {% endif %}
    {% endif %}
  </div>
{% endblock content %}