{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}?v=2">

<div class="container">
    <form action="{% url 'index' %}" method="get" style="margin-bottom: 20px;">
        <button type="submit" class="btn-submit">Voltar</button>
    </form>

    <h2>Painel de Controle de Dívidas</h2>
    <p>Escolha a ação desejada:</p>

    <div class="button-group">
        <a href="{% url 'pesquisar_historico' %}" class="btn btn-primary"> Gerar Relatório de Histórico de Dívidas de Cliente </a>
        <a href="{% url 'cadastrar_divida' %}" class="btn btn-primary">Cadastrar Dívida</a>
        <a href="{% url 'pesquisar_divida' %}" class="btn btn-primary">Pesquisar / Listar Dívidas</a>
        <a href="{% url 'alertas_inadimplencia' %}" class="btn btn-primary">Ver Alertas de Inadimplência</a>
    </div>
</div>
{% endblock content %}