{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/divida/pesquisar_historico.css' %}?v=1">
  <div class="container">
    
    <form action="{% url 'index_divida' %}" method="get" style="margin-bottom: 20px;">
        <button type="submit" class="btn-submit">Voltar</button>
    </form>

    <h1> Pesquisar CPF de cliente para Histórico de Dívidas</h1>

    <form method="get" action="{% url 'pesquisar_historico' %}">
      {% csrf_token %}
      <label for="cpf_cliente">Nome ou CPF do Cliente</label>
      <input type="text" id="cpf_cliente" name="cpf_cliente" value="{{ request.GET.cpf_cliente }}" placeholder="Ex: joao ou 12345678901">

      <button type="submit">Pesquisar</button>
    </form>
  </div>
{% endblock content %}