{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}?v=2">

<div class="container">
    <form action="{% url 'index' %}" method="get" style="margin-bottom: 20px;">
        <button type="submit" style="width: auto; padding: 10px 20px;">Voltar</button>
    </form>

    <h2>Painel de Relatórios</h2>
    <p>Escolha o relatório desejado:</p>

    <div class="button-group">
        <a href="{% url 'relatorio_mensal_dividas' %}" class="btn btn-primary">Relatório Mensal de Dívidas</a>
        <a href="#" class="btn btn-primary">Relatório Semanal de Dívidas</a>
    </div>
</div>

    

{% endblock content %}